<div class="card">
    <img src={{flags.png}} alt={{flags.alt}}>

    <p>Name: {{name.common}}</p>
    <p>Continents: {{continents}}</p>
    <p>Capital: {{capital}}</p>
    <p>Region: {{region}}</p>
    <p>Status: {{status}}</p>
    <p>Subregion: {{subregion}}</p>
    <p>Population: {{population}}</p>
</div>